body {
  min-width: 300px;
}

#root> :not(:last-child) {
  border-bottom: 2px solid #E0E0E0;
}

h1 {
  font-size: 16pt;
}

.additional-options {
  background-color: #F5F5F5;
}

.select-custom,
.btn-custom {
  border-radius: 20px;
}

.select-custom {
  background-color: #F5F5F5;
}

.btn-custom {
  background-color: #2196F3;
  color: white;
}